.row.justify-content-center
  .col-6
    .card.card-body
      .fs-4.mb-3= t('devise.confirmations.new.resend_confirmation_instructions')
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        .form-inputs
          = f.input :email,
                    autofocus: true,
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                    input_html: { autocomplete: 'email' }
        .form-actions.mb-3
          = f.button :submit, t('devise.confirmations.new.resend_confirmation_instructions'), class: 'btn btn-primary'
        .mb-3
          .fs-6= t('devise.confirmations.send_instructions')
        = render 'users/shared/links'
