
.container
  %h1.mt-2= t('users.order.index.title')
  .row.justify-content-center
    .col-10
      .table-responsive
        %table.table.text-center
          %thead
            %tr
              %th= Order.human_attribute_name(:created_at)
              %th= Order.human_attribute_name(:status)
              %th= Order.human_attribute_name(:delivered_time)
              %th= Order.human_attribute_name(:schedule_date)
              %th= Order.human_attribute_name(:schedule_time)
              %th
          %tbody
            - @orders.each do |order|
              %tr
                %td= l(order.created_at, format: :full_date)
                %td= t("enums.order.status.#{order.status}")
                %td= order.delivered_time
                %td= order.schedule_date
                %td= t("enums.order.schedule_time.#{order.schedule_time}")
                %td
                  = link_to t('common.views.action.show'), admins_order_path(order)
