.row.justify-content-center
  .col-6
    .card.card-body
      .fs-4.mb-3= t('devise.registrations.new.sign_up')
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .form-inputs
          = f.input :display_name,
                    autofocus: true,
                    hint: t('devise.registrations.display_name'),
                    input_html: { autocomplete: 'display_name' }
          = f.input :name,
                    hint: t('devise.registrations.name'),
                    input_html: { autocomplete: 'name' }
          = f.input :phone_number,
                    hint: t('devise.registrations.number_format'),
                    input_html: { autocomplete: 'phone_number' }
          = f.input :postal_code,
                    hint: t('devise.registrations.number_format'),
                    input_html: { autocomplete: 'postal_code' }
          = f.input :address,
                    input_html: { autocomplete: 'address' }
          = f.input :email,
                    input_html: { autocomplete: 'email' }
          = f.input :password,
                    hint: (@minimum_password_length ? t('devise.registrations.new.password', count: @minimum_password_length) : nil),
                    input_html: { autocomplete: 'new-password' }
          = f.input :password_confirmation,
                    input_html: { autocomplete: 'new-password' }
        .form-actions.mb-3
          = f.button :submit, t('devise.registrations.new.sign_up'), class: 'btn btn-primary'
        = render 'users/shared/links'
